body {
	background: #E7FFFB;
	background-image: cover;
	background-size: cover;
	margin: -1px;
}
h1 {
	color: #523A39;
	text-align: center;
	position: absolute;
	font-size: 15px;
	font-family: Tahoma, Geneva, sans-serif;
}
h2 {
	color:#523A39;
	text-align: center;
	font-size: 50px;
	font-weight: bold;
}
body
{
background-image:("Images/image3.png");
background-color:#cccccc;
background-size: 500px;
}
p {
	font-size: 30px;
	font-family: Tahoma;
	color: black;
	text-align: left
}
header {
	height: 300px;
	background: #bdbdbd;
	position: fixed;
	width: 100% 100%;
	z-index: 10;
}
banner {
	width: 100%;
	height: 200px;
	position: fixed;
	top: 200px;
	background: #707070;
}
#MainContent {
	width: 100%;
	position: relative;
	top: 50px;
	background: #ebebeb;
	height: 75px; 
}
h3 {
	font-size: 24px;
	font-family: Tahoma;
	color: black;
	text-align: center;
}
#header1 {
    margin-left: auto;
    margin-right: auto;
}
#nav {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 25px;
	color: #523A39;
	clear: all;
}
#categories {
	border: 4px solid #523A39;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 20px;
	color: #523A39;
	margin: 0;
	width: 200px;
	float: right;
	height: 240px;
	text-align: center;
}
ol {
	font-size: 20px;
}
ul {
	font-size: 20px;
}
h3 { 
   position: relative; 
   width: 100%; 
   color: #ffffff;
   font-family: Tahoma;
}

.image { 
   position: absolute; 
   top: 170px; 
   left: 0; 
   width: 100%; 
}
#footer {
	color: #523A39;
}
.post content {
	color: #523A39;
	text-align: left;

}
#nav {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 20px;
	color: black;
	font-weight: bold;
}
#wrapperHeader {
 	width:auto;
 	height: 75%; /* height of the background image? */
 	background:url(images/1984macintosh.png) repeat-x 0 0;
 	text-align:center;
 	margin:0 auto;
}

/*div#wrapperHeader div#header1 {
 width:1000px;
 height:200px;
 margin:0 auto;
}
*/
/*div#wrapperHeader div#header1 img {
 width:; /* the width of the logo image */
 height:; /* the height of the logo image */
 margin:0 auto;
}




















/*body {
	background: #D29593;
	font: 14px/22px Helvetica, Sans-Serif;
}

@font-face {
	font-family:'Arial';
}
#header h1 a {
		position: absolute; top: 5px; left: 376px;display: block; width: 208px; height: 213px; 
		background: url(images/logo.png); text-indent: -9999px;

#header ul#nav li a {
					display: block; font: 13px Georgia, Serif; letter-spacing: 2px; color: #eeede6;
				}
				
#content #main {
		width: 684px; float: left; 
	}	
		#content #main .post {
			position: relative; margin: 0 0 60px 0; padding: 0 0 66px 0;
		}
			#content #main .post h2 {
				float: left; margin: 0 0 10px 75px;
				font: 24px Lucida Grande, Lucida Sans Unicode;
			
#content #side {
		width: 196px; float: left; margin: 0 0 0 37px;
	}
	
		#content #side h3 {
			font: 22px Tallys, Georgia, Serif; color: #afada2; text-align: center; 
		}
	
		#content #side #categories {
			margin: 0 0 66px 0;
		}
			#content #side #categories ul {
				list-style: none;
			}
				#content #side #categories ul li {
					position: relative; width: 156px; height: 29px; padding: 11px 20px 0 20px; margin: 0 0 10px 0;
					color: #afada2; text-align: right;
				}
#footer {
	width: 917px; margin: 0 auto;
}
	#footer a {
		color: #eeede6; 
	}
		
	#footer h4 {
		font: 22px Tallys, Georgia, Serif; letter-spacing: 4px; color: #afada2; margin: 0 0 14px 0;
	}*/	